* {
  margin: 0;
  margin-top: 1px;
  padding: 0;
  font-family: "Lucida Console", "Courier New", monospace;
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #ebebeb;
  /* #9bc4e2; */
  color: #222222;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  color: #080808 !important;
  border: 1px solid #FFA500 !important;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  background: #fff !important;
  transition: background 0.5s;
}
.btn:hover{
  background: #FFA500 !important;
}
.btn:disabled {
  background-color: #ccc !important;
  color: #666 !important;
  cursor:not-allowed;
  transition: none !important;
}
input,select{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  align-items: center;
}
#box{
  display: flex !important;
  height: 100vh;
  justify-content: center;
  align-items: center;

}
#loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* .dark {
  margin-left: -20%;
} */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid orange;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card:first-of-type {
  margin-top: 0;
}

.container {
  margin-left: 10px;
}

hr.solid {
  border-top: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
}
#searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.column {
  float: left;
  width: 50%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.time {
  text-align: right;
}

.muted-text {
  color: #999999; /* muted color */
  /* font-size: 0.8em; smaller font size */
}

.colorise {
  color: orange;
}
.tooltip {
  position: relative;
  margin-left: 5%;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: orange;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text to the right of the container */
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translateY(-50%);

  /* Show the tooltip text when you mouse over the tooltip container */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Style for the switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide the default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Style for the slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: skyblue;
  transition: background-color 0.4s, color 0.4s;
}

/* Style for the slider thumb */
.slider:before {
  position: absolute;
  content: "\f185";
  height: 26px;
  width: 26px;
  font-size: 20px;
  left: 4px;
  margin-top: 12%;
  bottom: 4px;
  /* background-color: white; */
  transition: transform 0.4s, color 0.4s;
  font-family: "FontAwesome";
  color: orange;
  background-color: white;
}

/* Style for the slider thumb when checked */
input:checked + .slider:before {
  transform: translateX(26px);
  content: "\f0c2";
  color: white;
  background-color: gray;
  /* color: white; */
}


/* Rounded style for the slider */
.slider.round {
  border-radius: 34px;
}

/* Rounded style for the slider thumb */
.slider.round:before {
  border-radius: 50%;
}


.forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


.weather-card .weather-time {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
}
.card {
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  /* margin: 20px; */
  box-shadow: 0 8px 16px 0 #707070;
  transition: 0.3s;
  text-align: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  text-align: right;
  color: #999999;
  font-size: 0.8em;
}

.weather-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.weather-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px
}

.weather-description h4 {
  margin-bottom: 10px;
}

.weather-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.detail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.detail i {
  margin-right: 5px;
}

.button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: default;
  transition: none !important;
}
@media only screen and (max-width:600px){
  .card {
    padding: 5px;
  }
}