body {
    font-family: "Lucida Console", "Courier New", monospace;
  /* display: flex; */
  text-align: center;
  justify-content: center;
  background-color: #EBEBEB;
   /* #9bc4e2; */
  color: #222222;
}
#body {
  width: 50%;
}

.card {
    text-align: center;
    /* display: flex; */
    background-color: #FFFFFF;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .card:first-of-type {
    margin-top: 0;
  }
  
  .container {
    margin-left: 10px;
  }
  
  hr.solid {
    border-top: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  #cityInput {
    font-size: 16px;
    padding: 8px;
    border: none;
    border-bottom: 2px solid gray;
    margin-right: 10px;
  }
  
  #countrySelect {
    font-size: 16px;
    padding: 8px;
    border: none;
    border-bottom: 2px solid gray;
    margin-right: 10px;
  }
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: default;
  }

.colorise{
    color: orange;
}
  .tooltip {
    position: relative;
    margin-left: 5%;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: orange;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    /* Position the tooltip text to the right of the container */
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    
    /* Show the tooltip text when you mouse over the tooltip container */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }